.sidebar{
  width: 24.25%;
  display: inline-block;
  margin-top: 30px;
  height: 400px;
  //background-color: grey;
  box-sizing: border-box;
}
@include latest_post;
@include bar_top($blue);
.latest_news{
  padding: 0;
  .poll_cont{
    .head_cont{
      background-color: $dark;
      &::before{
        border-top-color: $dark;
      }
    }
    center{
      padding: 20px;
      color: $dark;
      font-size: 1.2em;
    }
    input,label{
      &:hover{
        cursor: pointer;
        color: $orange;
      }
    }
    input[type="radio"]{
      margin: 5px 20px;
      display: inline-block;
      border-color: red;
      &:checked + label{
        color: $red;
        font-weight: bold;
      }
    }
    .submit_line{
      padding: 20px;
      span{
          display: inline-block;
          background-color: $red;
          color: $white;
          padding: 5px 10px;;
          margin-left: 10px;
          &:hover{
            box-shadow: 1px 2px 5px $dark;
          }
          &:active{
            box-shadow: 0px 1px 3px $dark;
          }
      }
    }
  }
}
